@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&display=swap');

:root {
    --cor-1: #00c3ff;
    --cor-2: #3a7bd5;
    --cor-3: #004a99;
    --cor-4: #333;
    --cor-5: #f4f4f4;

    --fonte-1: 'Orbitron', sans-serif;
    --fonte-2: 'Montserrat Alternates', sans-serif;
    --fonte-3: 'Arial', sans-serif;
}

body, html {
    height: 100vh;
    width: 100vw;
    
}

body {
    background-image: linear-gradient(to bottom, var(--cor-1), var(--cor-2);
}

header {
    background-color: var(--cor-4);
}

header h1 {
  margin-left: 10px;
  padding: 10px;
  color: var(--cor-5);
 font-family: var(--fonte-2);
 font-size: 2.5em;
 }


