@charset "utf8";
*{
    font-family: Arial, Helvetica, sans-serif;

}

p{
    text-align: justify;
}

body{
    background-image: linear-gradient( to right, #AD9082, #EBE1D5 );
}
 main{
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(167, 139, 126, 0.712);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#61788C ;
    text-align: center;
    text-shadow: 1px 1px 2px #384652be ;
}
h2{
  color: #5c6662;  
}